PORT=5050

# Codeforces credentials (optional if not scraping/submitting)
CF_USERNAME=
CF_PASSWORD=

# Supabase Configurations
SUPABASE_URL=
PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
